<html>
<body style="background:#121212; margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
<div style="width: 100%; background: #121212;">
  <div style="margin: 0 auto; width: 90%; text-align: center;">
      <div style="margin: 30px auto; background: white; width: 40%; border-radius: 10px; padding: 50px; text-align: center;">
      <h3 style="margin-bottom: 100px; font-size: 24px;">{{ title }}</h3>
      <p style="margin-bottom: 30px;">Click the link below to activate Your account</p>
      <a style="color:#000"
        href="{{ url }}"
        target="_blank"
      >
        Activate account!
      </a>
    </div>
  </div>
</div>
</body>
</html>